<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>영화 목록</h1>
    <ul>
    {% for movie in movies %}
        <li>{{movie.id}} : <a href="/movies/{{movie.id}}">{{movie.title}}</a></li>
        <li>{{movie.score}}</li>
    <hr>
    {% endfor %}
    <a href="/movies/new">등록하기</a>
    </ul>
</body>
</html>