{% extends 'base.html' %}
{% block body %}
    <ul>
    {% for movie in movies %}
        <!--<li>{{movie.id}} : <a href="/movies/{{movie.id}}">{{movie.title}}</a></li>-->
        <!--<li>{{movie.score}}</li>-->
        <div class="card" style="width: 18rem;">
          <!--<img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title"><a href="/movies/{{movie.id}}">{{movie.title}}</a></h5>
            <span class="badge badge-success">{{movie.score}}</span>
            <!--<p class="card-text">{{movie.score}}</p>-->
            <br>
            <a href="{{movie.poster_url}}" class="btn btn-primary">영화 사이트 바로가기</a>
            <!--<a href="javascript:history.back()" class="btn btn-primary">뒤로가기</a>-->
          </div>
        </div>
    {% endfor %}
    <!--<ul>-->
    <!--{% for movie in movies %}-->
    <!--    <li>{{movie.id}} : <a href="/movies/{{movie.id}}">{{movie.title}}</a></li>-->
    <!--    <li>{{movie.score}}</li>-->
    <!--<hr>-->
    <!--{% endfor %}-->
{% endblock %}